<div class="calculator">
    <textarea type="text" [value]="display" class="calculator-screen" rows="3" disabled></textarea>
    <div class="calculator-keys">
        <button type="button" class="operator" value="+" (click)="oper('a')">+</button>
        <button type="button" class="operator" value="-" (click)="oper('s')">-</button>
        <button type="button" class="operator" value="*" (click)="oper('m')">&times;</button>
        <button type="button" class="operator" value="/" (click)="oper('d')">&divide;</button>

        <button type="button" value="7" (click)="numClick(7)">7</button>
        <button type="button" value="8" (click)="numClick(8)">8</button>
        <button type="button" value="9" (click)="numClick(9)">9</button>

        <button type="button" value="4" (click)="numClick(4)">4</button>
        <button type="button" value="5" (click)="numClick(5)">5</button>
        <button type="button" value="6" (click)="numClick(6)">6</button>

        <button type="button" value="1" (click)="numClick(1)">1</button>
        <button type="button" value="2" (click)="numClick(2)">2</button>
        <button type="button" value="3" (click)="numClick(3)">3</button>

        <button type="button" value="0" (click)="numClick(0)">0</button>
        <button type="button" class="decimal" value="." (click)="remove()">Del</button>
        <button type="button" class="all-clear" value="all-clear" (click)="resetCalculator()">AC</button>

        <button type="button" class="equal-sign" value="=" (click)="calculate()">=</button>
    </div>
</div>

<router-outlet></router-outlet>